<% if signed_in? %>
  <div class="row">
    <aside class="span4">
          <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  <div class="span8">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
  </div>

<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Twitter 2.0</h1>

    <h2>
      Welcome to Twitter 2.0!  It is twice as good as the first one.  Well... not really, it is more like Twitter 0.5, but this is a sample application I am using to learn Ruby on Rails better.  Please feel free to play around with it.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>